
#face{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;

}
#eyes{
    background-color: black;
    width: 10%;
    height: 10%;
    margin: 30px;
    border-image: 2px solid black;
    border-radius: 50%;
    align-content: center;
    position: relative;
    margin-left: 40px;
    top: 10px   ;

    
    display: inline-block;
}
#mouth{
    width: 40%;
    height: 10%;
   background-color: rgb(6, 189, 33);
    border: 2px solid red;
    position: relative;
    margin-top: 30px;
    margin-left:60px;
    top: 20px;
    border-radius: 0px 0px 10px 10px ;
   
}

