h1{
    text-align: center;
    text-decoration: rgb(7, 157, 203) wavy underline;
    letter-spacing: 5px;
    font-family: fantasy, avant garde,sans-serif  ;
}
h2{
    text-align: left ;
    text-align: justify;
    font-weight: 800;
    text-decoration: double blue overline;
    font-family: Impact;
    
}
p{
    text-align: start;
    font-weight: 300;
    line-height: 1.5;
    font-size: 20px;

}
a{
    text-decoration: none;
}