/* h2{
    display: inline     ;
    background-color: aqua;
}
span{
    display: block;
    background-color: yellow;
} */

span{
    border: 2px solid black;
    height: 100px;
    width: 100px ;
    padding: 50px;
    margin: 50px;

}
.div{
    border: 2px solid black;
    height: 100px;
    width: 100px ;
    padding: 50px;
    margin: 50px; 
}
/* inline- block use kar hai agar koi inline elmente bhi rahe aur block bhui rahe tho display: inline-block kar use kar lo  */

.A{
    height: 100px;
    width: 200px;
    background-color: yellow;
    border: 2px solid black;
    margin: 2px;
    display: inline-block    ;
    
}
#third{
    display: none    ;
}


